@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/dm-sans/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/dm-sans/DMSans-Bold.ttf") format("truetype");
}

* {
  font-family: "DM Sans";
}
